
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #efefef;
}
h6{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #000000;
    
    text-transform: capitalize;
}
h4{
    font-size: 30px;
    font-weight: 700;
    color: #db8d8d;
    background-color: cadetblue;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer;
}
h4:hover{
    color: aqua;
}